{% extends "website/base.html" %}

{% block content %}
    <div class="contactuscontent">
        <div class="contactbox">
            <div>
                <img src="/static/img/contact.png" alt="contactusimg">
            </div>
        </div>
        <hr/>
        <div class="contactemail"><h1>Email: arun@ar.ac.in</h1></div>
        <div class="contactphone"><h2>Phone: +91-7200742352</h2></div>
        <div class="contactphone"><h2>Address: © AR pvt,Silicon valley, Microsoft, Google</h2></div>
        <hr/>
    </div>

{% endblock %}