{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>Executives</h1>
    <div class="crewmembers">
        {% for people in peoples %}
        <div class="crewmember">
            <div class="memberimage">
                <img src="{{ people.photo.url }}" alt="member image" height="200" width="200">
            </div>
            <div class="Membername">{{ people.Membername }}</div>
            <div class="Designation">{{ people.Designation }}</div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock  %}